<nav class="main-menu nav navbar-default">
    <ul class="nav navbar-nav">
        <li class="item-101 current active"><a href="@Url.Content("~/")">Home</a></li>
        <li class="item-105"><a href="@Url.Action("Index","Service")">Services</a></li>
        <li class="item-106"><a href="@Url.Action("News","Service")">News</a></li>
        <li class="item-107"><a href="@Url.Action("About","Home")">About Us</a></li>
        <li class="item-130"><a href="@Url.Action("Helpdesk","Service")">Help Desk</a></li>
        <li class="item-108"><a href="@Url.Action("Contact","Home")">Contact</a></li>
    </ul>
</nav>
