@using Microsoft.AspNet.Identity
@using iMicroServices.Web.Models
@model LoginViewModel
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    @*<ul class="nav navbar-nav navbar-right">
    </ul>*@
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
    <div class="login-form">
        <div class="social-icons" style="text-align: left">
            <img src="~/Content/Images/icons/facebook.png"/>
            <img src="~/Content/Images/icons/twitter.png"/>
        </div>
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-inline", role = "form" }))
        { 
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class="text-danger"})
            @Html.TextBoxFor(m => m.Email, new { @class="form-control", type="text", placeholder="Username"})
            @Html.PasswordFor(m => m.Password, new { @class = "form-control",type="password",id="password",placeholder="Password"})
            <input type="submit" class="btn btn-default" value="Login"/><br/>
            @*@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger login-val" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger login-val" })*@
            @Html.ActionLink("Join Micro Services INC", "Register", "Account", new { @class="join-link"})
        }
    </div>
}
